<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66582-32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-66582-32');
    </script>

    {{ partial "head-meta.html" . }} 
    
    {{ block "schema-dot-org" . }}
    <!-- schema.org metadata differs for Nodes and Pages -->
    {{ end }}

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ .Site.BaseURL }}css/custom.css" rel="stylesheet"> 
    <link href="{{ .Site.BaseURL }}css/syntax.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,500,700" rel="stylesheet">
        
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" /> 
    
    {{ partial "mathjax_support.html" . }}

</head>

<body>

    <nav class="navbar navbar-expand-sm fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ .Site.BaseURL }}">Arturo Guerrero</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav mr-auto"></ul>
                <ul class="navbar-nav">
                    <!-- 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Leadership
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ .Site.BaseURL }}#leadership">Notes</a>
                        </div>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL }}#leadership">Leadership</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Temas
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ .Site.BaseURL }}#machine_learning">Machine Learning</a>
                            <a class="dropdown-item" href="{{ .Site.BaseURL }}#deep_learning">Deep Learning</a>
                            <a class="dropdown-item" href="{{ .Site.BaseURL }}#python">Python</a>
                            <a class="dropdown-item" href="{{ .Site.BaseURL }}#statistics">Statistics</a>
                            <a class="dropdown-item" href="{{ .Site.BaseURL }}#scala">Scala</a>
                            <a class="dropdown-item" href="{{ .Site.BaseURL }}#postgresql">PostgreSQL</a>
                            <a class="dropdown-item" href="{{ .Site.BaseURL }}#linux">Command Line</a>
                            <a class="dropdown-item" href="{{ .Site.BaseURL }}#regex">Regular Expressions</a>
                            <a class="dropdown-item" href="{{ .Site.BaseURL }}#mathematics">Mathematics</a>
                            <a class="dropdown-item" href="{{ .Site.BaseURL }}#aws">AWS</a>
                            <a class="dropdown-item" href="{{ .Site.BaseURL }}#computer_science">Computer Science</a>
                        </div>
                    </li>
                    <!-- 
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL }}#articles">Articles</a>
                    </li>
                    -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Acerca
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ .Site.BaseURL }}about/chris_albon/">About Chris</a>
                            <a class="dropdown-item" href="https://github.com/chrisalbon">GitHub</a>
                            <a class="dropdown-item" href="https://twitter.com/chrisalbon">Twitter</a>
                            <a class="dropdown-item" href="https://www.amazon.com/Machine-Learning-Python-Cookbook-Preprocessing/dp/1491989386">ML Book</a>
                            <a class="dropdown-item" href="https://machinelearningflashcards.com/">ML Flashcards</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                {{ block "main" . }}
                <!-- The part of the page that begins to differ between templates -->
                {{ end }}

            </div>

        </div>
    </div>

    <!-- start of footer section -->

    <footer class="footer text-center">
        <div class="container">
            <span class="text-muted">Copyright &copy; Chris Albon, <time datetime="2020">2020</time>. All {{ len .Site.RegularPages }} articles, posts, and tutorials are available on <a href="https://github.com/chrisalbon/notes">GitHub</a>.</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

</body>

</html>